<Container>
  <div class="product">
    <Product::Image></Product::Image>
    <Product::Details @color={{this.color}}></Product::Details>
  </div>
  <h5>Features</h5>
  <ul>
    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam nisi voluptatem dicta modi doloribus possimus, sit tempore, ducimus beatae aperiam ut sed sapiente, praesentium culpa assumenda laboriosam. Mollitia, sapiente vel!</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsa reprehenderit quis est officia dignissimos ex consequuntur earum debitis nesciunt ratione itaque expedita, exercitationem voluptatum tenetur doloremque neque! Odit, alias.</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aut, perferendis reprehenderit dolore distinctio tempora facilis magnam itaque quis, molestiae incidunt aliquid aliquam dolor ea quidem asperiores nulla nam. Modi.</li>
  </ul>
</Container>
