<Container>
  <div class="product">
    <Product::Image @src={{this.productImage}}></Product::Image>
    <Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}} ></Product::Details>
  </div>
  <h5>Features</h5>
  <ul>
    {{#each this.model.features as |feature|}}
      <li>{{feature}}</li>
    {{/each}}
  </ul>
</Container>
